<h2>Standard Shortened url</h2>


<%= form_for(@url) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :url %>
  <%= f.text_field :original %>
  <%= f.submit "shorten!" %>
<% end %>


<h2>Vanity Shortened url</h2>

<%= form_for(@url) do |f| %>

  <% if @url.errors.any? %>
    <%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:<br />

    <ul>
    <% @url.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :url %>
  <%= f.text_field :original %>
  <%= f.label :vanity_url %>
  <%= f.text_field :shortened %>
  <%= f.submit "shorten!" %>
<% end %>
